<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <title>TUGAS PWEB</title>
    <style>*
      {
        max-width: 700px;
        margin: auto;
      }
      /*body {
          min-width: 500px;
      }*/
      div {
        border-radius: 5px;
      }
      #header {
        height: 40px;
        width: 100%;
        background-color: #3453ff;
        position: fixed;
        z-index: 1;
      }
      #title {
        margin-left: 3%;
      }      
      #footer {
        height: 50px;
        width: 100%;
        background-color: #3453ff;
        clear: both;
        position: relative;
      }      
      .left {
        height: 1000px;
        width: 45px;
        background-color: #ff9900;
        float: left;
        position: fixed;
      }      
      .right {
        height: 1000px;
        width: 45px;
        background-color: #ff9900;
        float: right;
        position: inherit;
      }      
      .stuff {
        display: inline-block;
        margin-top: 6px;
        margin-left: 55px;
        width: 75%;
        height: 1000px;
      }      
      p,
      li {
        font-family: 'Cormorant Garamond';
      }      
      .head {
        font-size: 20px;
      }
      #name {
        font-family: Sacramento;
        float: right;
        margin-top: 10px;
        margin-right: 4%;
      }      
      a {
        color: black;
        text-decoration: none;
      }      
      @media only screen and (max-width: 430px) {
        .left,
        .right {
          display: none;
        }
        .stuff {
          width: 100%;
          margin-left: 10px;
        }
      }</style>
  <br><br>
  <img src="BAS_2432.JPG" height="250px" width="150px" align="left">
  <h1>BIODATA</h1>
  <h2>Mohammad Amirul Kurniawan Putranto</h2>
  <hr />
  <br>
  <p class="head" align="right">Profile</p>
  <ul align="right">
    Tempat, tanggal lahir: Batang, 19 April 2002<br />
    Alamat: Perum Pesona Griya Batang, Kauman, Batang, Jawa Tengah<br />
    Laki-laki<br />
    Mahasiswa Teknik Informatika<br />
    Universitas Ahmad Dahlan<br />
</ul>
  <p class="head">Kelebihan</p>
  <ul>
    <li>Bertanggung jawab</li>
    <li>Jujur</li>
    <li>Disiplin</li>
    <li>bahasa Inggris</li>
    <li>Percaya diri</li>
  </ul>
  <p class="head">Pendidikan</p>
  <ul>
      <li>SMP Negeri 3 Batang</li>
      <li>SMA Negeri 1 Batang</li>
      <li>Universitas Ahmad Dahlan</li>
  </ul>
  <p class="head">Pengalaman</p>
  <ul>
    <li>Asia Africa International MUN Delegate</li>
    <li>Pramuka</li>
    <li>AOV CUP</li>
  </ul>
  <p class="head">Hobi</p>
  <ul>
    <li>Bermain game</li>
    <li>Menonton film</li>
    <li>Mendengarkan musik</li>
  </ul>
  <p class="head">
      <b>Ini adalah desain web saya berupa profile saya.</b><br />
      <b>Saya akan mengembangkannya lebih baik dan lebih bagus lagi.</b><br />
      <b><i>TERIMA KASIH TELAH BERKUNJUNG</i></b>
  </p>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Mohammad Amirul Kurniawan Putranto</h2></div>