<body style="background-color: cyan;">
    <p>
        <img src="BAS_2432.JPG" height="250px" width="150px" align="left">
        Perkenalkan, nama saya Mohammad Amirul Kurniawan Putranto.
        Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat hompage.
        Homepage ini masih dalam tahap pengembangan. Oleh karena itu, tampilannya masih terlalu
        sederhana. Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga
        semakin lama semakin menarik untuk dilihat.
    </p><br />
    <p>
        Pada kesempatan ini, saya akan menunjukkan halaman selanjutnya dari halaman ini<br />
        dengan cara klik di bawah ini.<br />
    </p>
    <p>
        Saya ingin melihat <a href="hal2.html">halaman selanjutnya</a>.
        Saya ingin langsung menuju ke <a href="#akhir">bagian bawah</a>. Saya ingin menuju ke 
        <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br />
    </p>
    <p>
        Di bawah ini anda akan dibawa ke halaman detik.com<br />
    </p>
    <p>
        <a href="http://www.detik.com"><img src="detik.jpg" /></a>.<br />
        Homepage detik.com.<br />
    </p>
    <p>
        Ini bagian tengah.<br />
    </p>
    <p>
        Ini bagian akhir.<br />
    </p>
    <p>
        <a href="http://www.elearning.uad.ac.id"><img src="elearninguad.png"></a><br />
    </p>
    <p>
        <a href="mailto:alitarmuji@uad.ac.id">Email saya</a><br />
    </p>
</body>