<p>
    Saya akan membagikan beberapa jenis Tag Font seperti:
<br />
<p>
    Tag Font (face):
    <br />
<font face="Times New Roman">
    Homepage ini masih dalam tahap pengembangan
</font><br />
<font face="Arial">
    Homepage ini masih dalam tahap pengembangan
</font><br />
<font face="Courier New">
    Homepage ini masih dalam tahap pengembangan   
</font><br />
<font face="verdana">
    Homepage ini masih dalam tahap pengembangan
</font><br />
</p>

<p>
    Tag font (size):
    <br />
<font size="1">
    satu,
</font>
<font size="2">
    dua,
</font>
<font size="3">
    tiga,
</font>
<font size="4">
    empat,
</font>
<font size="5">
    lima,
</font>
<font size="6">
    enam,
</font>
<font size="7">
    tujuh,
</font><br />
</p>

<p>
    Tag font(color):
    <br />
<font color="#FF000">
    Red
</font><br />
<font color="#800000">
    Maroon
</font><br />
<font color="#008000">
    Lime
</font><br />
<font color="#0000FF">
    Green
</font><br />
<font color="#000080">
    Blue
</font><br />
<font color="#FFFF00">
    Navy
</font><br />
<font color="#FF00FF">
    Yellow
</font><br />
<font color="#FF00FF">
    Fuchsie
</font><br />
<font color="#00FFFF">
    Aqua
</font><br />
</p>
<p>
    Itu adalah beberapa contoh Tag font pada HTML, Terima kasih.
</p>
</p>