<body>
<p>
Kata dapat dicetak <b>tebal</b>, <i>miring</i>, <u>garis bawah</u>, <b>tebal <i>miring</i></b>, dan <b><i><u>kombinasi</u></i></b> di tengah huruf normal
</p>

<p>
<b>Hallo</b> nama saya adalah Mohammad Amirul Kurniawan Putranto. <u>Ini adalah contoh kalimat bergaris bawah</u>. <i>Ini adalah kalimat miring</i>
</p>

<p>
Itu merupakan beberapa modifikasi yang saya lakukan.
<b><i><u>Terima kasih</u></i></b>.
</p>
</body>